<div class="main-container">
  <div class="header-section">
    <div class="row-section">
      <label>Name</label>
      <input placeholder="Name" [(ngModel)]="inputModels.name">
    </div>
    <div class="row-section">
      <label>Nationality</label>
      <input placeholder="Nationality" [(ngModel)]="inputModels.nationality">
    </div>
    <div class="row-section">
      <label>Franchise</label>
      <input placeholder="Franchise" [(ngModel)]="inputModels.Franchise">
    </div>
    <div class="row-section">
      <label>Fileding Position</label>
      <input placeholder="Fileding position" [(ngModel)]="inputModels.position">
    </div>
  </div>
  <div class="submit-button-section">
    <button class="submit" (click)="submitClick()">Submit</button>
    <button class="cancel" (click)="cancelClick()">Cancel</button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">
            {{header.header}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td>{{row.name}}</td>
          <td>{{row.nationality}}</td>
          <td>{{row.Franchise}}</td>
          <td>{{row.position}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>